<%- include('../partials/header') %>
<div class="container">
  <div id="mainLogo">
    <img
      src="images/santaCDA.png"
      alt="Santa Cruz Dart League Logo"
      class="w-25"
    />
  </div>
  <div style="height: 100vh; justify-content: center; align-items: center">
    <table>
      <thead>
        <tr>
          <th>Word</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>words</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include('../partials/footer') %>
