<div class="container-fluid" id="footer">
  <div class="col">Stats Links</div>
  <div class="col">About the League</div>
  <div class="col text-center">
    <h6>Join Us On</h6>
    <a href="http://www.dartconnect.com"
      ><img src="/images/dcLogo.png" alt="Dart Connect Logo"
    /></a>
  </div>
</div>
