<%- include('./partials/header') %>
<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-6">
      <div class="card">
        <div class="card-header">Santa Cruz County Dart Association</div>
        <div class="card-body">
          <table class="table table-striped text-center">
            <tbody>
              <tr>
                <td>Commissioner</td>
                <td>Shawn Lopez</td>
              </tr>
              <tr>
                <td>President</td>
                <td>Ken S.</td>
              </tr>
              <tr>
                <td>Statistician</td>
                <td>Kristina</td>
              </tr>
              <tr>
                <td>Treasurer</td>
                <td>Mallory</td>
              </tr>
              <tr>
                <td>A League Rep</td>
                <td>Rick M</td>
              </tr>
              <tr>
                <td>B League Rep</td>
                <td>Joe Cool</td>
              </tr>
              <tr>
                <td>Public Relations</td>
                <td>Madana</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col text-center" id="contact-logo">
      <img
        src="/images/santaCDA.png"
        alt="Santa Cruz Dart League Logo"
        style="width: 30vmin"
      />
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
