<%- include('./partials/header') %>
<div id="mainLogo">
  <div
    class="container"
    style="
      display: flex;
      flex-direction: column;
      height: 75vh;
      justify-content: center;
      align-items: center;
    "
  >
    <div class="card p-4" style="width: 50rem;">
        <div class="card-header">
            <h2 class="text-center">Register</h2>
        </div>
      <form class="mt-4" action="/auth/register" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input
            name="email"
            class="form-control"
            type="email"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" placeholder="Password" />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Confirm Password</label>
          <input
            name="passwordVerify"
            type="password"
            class="form-control"
            placeholder="Confirm Password"
          />
        </div>
        <button class="btn btn-primary" type="submit" style="width: 100%;">Register</button>
      </form>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
